<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UpdatePeriod" value="120"/>
    <add key="MinimizeToTray" value="0"/>
    <add key ="Autostart" value="0"/>
    <add key="Update" value="1"/>
  </appSettings>
</configuration>